# Python
__pycache__/
*.pyc
*.pyo

# Virtualenv
.venv/

# Environment
.env

# Excel de dados reais
data/*.xlsx
!data/create_example.py

# Saída gerada
data/saida/

# Node
frontend/node_modules/
frontend/dist/
